
.idea/
**/.DS_Store
**/target/**
*.iml
**/.idea/*
app/.cargo/

node_modules
**/build
**/.svelte-kit
**/package
**/*.env
**/*.env.*
!**/*.env.example
**/vite.config.js.timestamp-*
**/vite.config.ts.timestamp-*
**/Cargo.lock
*.lock
